<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
</head>
<body>
	<div class="background-image" 
	style="background-image: url('https://as1.ftcdn.net/v2/jpg/03/69/00/58/1000_F_369005893_UYbUUUHDiB0HT7vs7EpO0JZ4vf830R5K.jpg');">
	<div class ="container">
        <h1>Welcome to our School</h1>
        <a routerLink="/student" class = "btn btn-primary btn-sm mb-3"> Go to Student List</a>
        <h3>About School</h3>
        <p>A school is an educational institution designed to provide learning spaces and learning environments for the teaching of students under the direction of teachers. Most countries have systems of formal education, which is sometimes compulsory. In these systems, students progress through a series of schools. The names for these schools vary by country (discussed in the Regional terms section below) but generally include primary school for young children and secondary school for teenagers who have completed primary education. An institution where higher education is taught is commonly called a university college or university.</p>
    </div>
    </div>
</body>
</html>
